<!DOCTYPE html>
<html lang="en">
<body>
 <script src="https://rightclick.merkb.repl.co/script.js"></script>
<link href="https://rightclick.merkb.repl.co/style.css" rel="stylesheet">
  
    <h1>404</h1>
    <p>Sorry, the page you were looking for doesnt exist</p>
    <p>Don't worry, we've got plenty of other exciting games for you to explore.</p>
    <a href="/games" style="text-decoration:#fff white underline">See games</a>
</body>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game0 - 404 Error</title>
      <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
    <style>
        body {
            background-color: #000000;
            color: #FF0000;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 58px;
            margin-bottom: 20px;
            font-family:monospace;
        }
        p {
            font-size: 14px;
            margin-bottom: 20px;
        }
        a {
            color: #FF0000;
            text-decoration: none;
        }
    </style>
</head>
        <script>
        let fav= localStorage.getItem('fav') || 'https://i.ibb.co/y6L3X97/image.png';
        let title = localStorage.getItem('title') || 'Game0';
        let toSet = document.querySelector('link[rel=icon]')
        toSet.href = fav
       toSet = document.querySelector('title')
        toSet.innerHtml = title
      </script>
  <script src="/cookies.js"></script>
</html>
