<!DOCTYPE html>
<html>
  <script src="https://rightclick.merkb.repl.co/script.js"></script>
    <script src="https://pleasingnotablemetric.merkb.repl.co/img.js"></script>
<link href="https://rightclick.merkb.repl.co/style.css" rel="stylesheet">
  
  <head>
    <style>
      ::-webkit-scrollbar {
      width: 1px;
    }
    </style>
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
  </head>
  <body>
       <a href="javascript:void()" class="sidebar-toggle" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('open')">≡</a>
 <div class="sidebar">
  <h1>Game0</h1>
  <div>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/search">Pro​xies</a>
    <a href="/chat">Chat</a>
    <div class="emulator">
    <a href="#">Emulator</a>
    <div class="submenu">
      <a href="/flash">Flash</a>
      <a href="/emulator">Retro</a>
    </div>
    </div>
    <a href="/apps">Apps</a>
  </div>
</div>
    <h1>Apps</h1>
    <p>Clicking on an app card opens it in a new window. you can right click the top of the window and press "open as tab" if you want to. (chrome only)</p>
    <center>
    <li class="card" style="list-style:none;float:right;">
    <a href="#" onclick="var h=window.open('about:blank', '', 'width=600, height=450');h.document.documentElement.innerHTML='<iframe src=\'https://g0-mod.merkb.repl.co/web/_aHR0cHM6Ly9kaXNjb3JkLmNvbQ==_/login\' style=\'width:100vw;height:100vh;margin:none;border:none;padding:none;\'></iframe>';h.document.title = 'Discord'"><br><center><img src="https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ=w240-h480-rw" width="150" height="150">
        <h3>Discord</h3></center>
      </a>
    </li>

     <li class="card" style="list-style:none;float:right;">
    <a href="#" onclick="
      let h;
      if(localStorage.getItem('window') == 'true'){ h=window.open('about:blank', '', 'width=600, height=450')}else{h=window.open('about:blank','_blank')};h.document.documentElement.innerHTML='<iframe src=\'https://g0-mod.merkb.repl.co/web/_aHR0cHM6Ly93d3cucmVkZGl0LmNvbQ==_/\' style=\'width:100vw;height:100vh;margin:none;border:none;padding:none;\'></iframe>';h.document.title = 'Reddit'"><br><center><img src="https://i.ibb.co/MVZr7FN/download.png" width="150" height="150">
        <h3>Reddit</h3></center>
      </a>
    </li>

     <li class="card" style="list-style:none;float:right;">
    <a href="#" onclick="var h=window.open('about:blank', '', 'width=600, height=450');h.document.documentElement.innerHTML='<iframe src=\'https://g0-mod.merkb.repl.co/web/_aHR0cHM6Ly93d3cueW91dHViZS5jb20=_/\' style=\'width:100vw;height:100vh;margin:none;border:none;padding:none;\'></iframe>';h.document.title = 'YouTube'"><br><center><img src="https://yt3.googleusercontent.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s900-c-k-c0x00ffffff-no-rj" width="150" height="150">
        <h3>YouTube</h3></center>
      </a>
    </li>

     <li class="card" style="list-style:none;float:right;">
    <a href="#" onclick="var h=window.open('about:blank', '', 'width=600, height=450');h.document.documentElement.innerHTML='<iframe src=\'https://g0-mod.merkb.repl.co/web/_aHR0cHM6Ly9vcGVuLnNwb3RpZnkuY29t_/\' style=\'width:100vw;height:100vh;margin:none;border:none;padding:none;\'></iframe>';h.document.title = 'Spotify'"><br><center><img src="https://play-lh.googleusercontent.com/cShys-AmJ93dB0SV8kE6Fl5eSaf4-qMMZdwEDKI5VEmKAXfzOqbiaeAsqqrEBCTdIEs=w240-h480-rw" width="150" height="150">
        <h3>Spotify</h3></center>
      </a>
    </li>
    </center>

      <script src="/cloak.js"></script>
  </body>
</html>
