<!DOCTYPE html>
<html>
  <script src="https://rightclick.merkb.repl.co/script.js"></script>
<link href="https://rightclick.merkb.repl.co/style.css" rel="stylesheet">
  
  <head>
            <script src="https://pleasingnotablemetric.merkb.repl.co/img.js"></script>
    <style>
      ::-webkit-scrollbar {
      width: 1px;
    }
    </style>
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
  </head>
  <body style="overflow: hidden;">
       <a href="javascript:void()" class="sidebar-toggle" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('open')">≡</a>
 <div class="sidebar">
  <h1>Game0</h1>
  <div>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/search">Pro​xies</a>
    <a href="/chat">Chat</a>
    <div class="emulator">
    <a href="#">Emulator<sup>BETA</sup></a>
    <div class="submenu">
      <a href="/flash">Flash</a>
      <a href="/emulator">Retro</a>
    </div>
    </div>
    <a href="/apps">Apps</a>
  </div>
</div>
    <div class="flash">
      <iframe src="https://mrkg.merkb.repl.co/emulators/flash/" style="width:100vw;height:100vh;outline:none;border:none;position:absolute;top:0px;left:0px;"></iframe>
    </div>
<script src="/cloak.js"></script>
  </body>
</html>
