<!DOCTYPE html>
<html>
  <head>
    <script src="https://pleasingnotablemetric.merkb.repl.co/img.js"></script>
    <script src="https://scripts.merkb.repl.co/periods.js"></script>
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">

  </head>
  <body>
     <a href="javascript:;" class="sidebar-toggle" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('open')">≡</a>
 <div class="sidebar">
  <h1>Game0</h1>
  <div>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/search">Pro​xies</a>
    <a href="/chat">Chat</a>
    <div class="emulator">
    <a href="#">Emulator</a>
    <div class="submenu">
      <a href="/flash">Flash</a>
      <a href="/emulator">Retro</a>
    </div>
    </div>
    <a href="/apps">Apps<sup>BETA</sup></a>
    <a href="/settings">Settings</a>
  </div>
</div>
    <center><h1 t="1">Game0</h1></center>
    <br>
<div id="display"></div>
    <p>Welcome to Game0! spend no time finding your favorite web games and worrying about cloaking solutions! Use YouTube, Discord, Reddit, and more with our proxy soliutions. Chat with your friends on our chat page. You can choose an item from our navigation bar to get started. Make sure to read our <a href="https://images-opensocial.googleusercontent.com/gadgets/ifr?url=http://xml.merkb.repl.co/pages/277874.xml">Terms of service</a></p>
    <script>
      function openNewTab(url) {
      const newTab = window.open('about:blank');
      let fav = localStorage.getItem('fav')
      let title = localStorage.getItem('title')
      newTab.document.write(`<title>${title ? title : 'about:blank'}</title><link rel="icon" href="${fav ? fav : 'data:;'}"><body style="margin:0px;"><iframe src="${url || window.location.href}" frameborder="0" width="100%" height="100%" style="width:100vw;height:100vh;"></iframe></body>`);
      newTab.document.close();
    }
    function changeTab(name, favicon) {
      document.title = name || 'Game0';
      document.querySelector('link[rel=icon]').href = favicon || 'https://i.ibb.co/y6L3X97/image.png';
      localStorage.setItem('fav', favicon);
      localStorage.setItem('title', name)
    }
    </script>
    <button onclick="openNewTab(window.location.href)">Cloak</button>
    <a href="/settings"><button>More options...</button></a><button onclick="changeTab('Game0', '')">Remove cloak cookies</button>
    <center><p><img src="https://www.cutercounter.com/hits.php?id=huxnppon&nd=4&style=2" border="0" alt="hit counter"> page visits</p><br><br></center>
         <script src="/cloak.js"></script>
        <script src="/cookies.js"></script>
  </body>
</html>