<!DOCTYPE html>
<html>
  <head>
    <script src="https://rightclick.merkb.repl.co/script.js"></script>
<link href="https://rightclick.merkb.repl.co/style.css" rel="stylesheet">
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
  </head>
  <body style="margin:1;">
    <div class="navbar">
       <a href="javascript:void()" class="sidebar-toggle" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('open')">≡</a>
 <div class="sidebar">
  <h1>Game0</h1>
  <div>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/search">Pro​xies</a>
    <a href="/chat">Chat</a>
    <div class="emulator">
    <a href="#">Emulator<sup>BETA</sup></a>
    <div class="submenu">
      <a href="/flash">Flash</a>
      <a href="/emulator">Retro</a>
    </div>
    </div>
    <a href="/apps">Apps</a>
  </div>
</div>
    <div class="container">
      <h1 class="game-title"><%= game.title %></h1>
      <iframe class="game-iframe" src="<%= game.url %>"></iframe>
            <button onclick="document.getElementsByClassName('game-iframe')[0].requestFullscreen()">Fullscreen</button>
               <button onclick="f()">Open in new tab</button>
      <p class="game-description"><%= game.description %></p>
    </div>
      <script>
        let fav= localStorage.getItem('fav') || 'https://i.ibb.co/y6L3X97/image.png';
        let title = localStorage.getItem('title') || 'Game0';
        let toSet = document.querySelector('link[rel=icon]')
        toSet.href = fav
       toSet = document.querySelector('title')
        toSet.innerHTML = title
        const f = () => {let g = window.open();g.document.documentElement.innerHTML = `<body style="margin:none;"><title>${title}</title><link href="${fav}" rel="stylesheet"><iframe src="<%= game.url %>" style="display: block;height:100vh;width:100vw;border:none;margin:none;"></body>`}
      </script>
  </body>
</html>
