<!DOCTYPE html>
<html>
  <head>
    <style>
      ::-webkit-scrollbar {
      width: 1px;
    }
    </style>
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
  </head>
  <body style="overflow: hidden;">
       <a href="javascript:void()" class="sidebar-toggle" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('open')">≡</a>
    <div class="sidebar">
      <h1>Game0</h1>
      <div>
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/search">Pro​xies</a>
        <a href="/chat">Chat</a>
        <a href="/emulator">Emulator<sup>BETA</sup></a>
        <a href="/apps">Apps</a>
      </div>
    </div>
    <a href="#" onclick="var h=window.open('about:blank', '', 'width=600, height=450');h.document.documentElement.innerHTML='<iframe src=\'https://g0-mod.merkb.repl.co/web/_aHR0cHM6Ly9kaXNjb3JkLmNvbQ==_/login\' style=\'width:100vw;height:100vh\'></iframe>';h.document.title = 'Discord'"><br><center><img src="https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ=w240-h480-rw" width="300" height="320">
        <h3>Discord</h3></center>
      </a>

      <script src="/cloak.js"></script>
  </body>
</html>
